* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tourist.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    padding: 30px 3%;
    display: flex;
    align-items: center;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(3, 236, 163);
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.logo {
    width: 70px;
    cursor: pointer;
    margin: 0 20;
}

.container {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    height: 280px;
    max-width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card .img {
    height: 200px;
    width: 100%;
}

.card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .top-text {
    padding: 5px;
}

.card .top-text .name {
    font-size: 25px;
    font-weight: 600;
    color: #202020;
}

.card .top-text p {
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}

.card .bottom-text {
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.card:hover .bottom-text {
    opacity: 1;
    visibility: visible;
}

.card .bottom-text .text {
    text-align: justify;
}

.card .bottom-text .btn {
    margin: 10px 0;
    text-align: left;
}

.card .bottom-text .btn a {
    text-decoration: none;
    background: #e74c3c;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
}

.card .bottom-text .btn a:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 978px) {
    .container {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card {
        max-width: 700px;
        margin: 20px 0;
    }
}